openvino
openvino_genai
#onnxruntime-gpu
#onnxruntime
langid
ctranslate2
uvicorn
librosa
epitran
num2words
g2pk2
uvicorn
fastapi
pydantic
serverinfo
transformers
pillow
torch
pykakasi
eng-to-ipa
cn2an
unidecode
python-multipart
