openvino
openvino_genai
#onnxruntime-gpu
#onnxruntime
langid
ctranslate2
uvicorn
librosa
epitran==1.26.0
num2words
g2pk2
uvicorn
fastapi
pydantic
serverinfo
transformers
pillow
--extra-index-url https://download.pytorch.org/whl/xpu 
torch
--extra-index-url https://download.pytorch.org/whl/xpu 
torchvision
--extra-index-url https://download.pytorch.org/whl/xpu 
torchaudio
pykakasi
eng-to-ipa
cn2an
unidecode
python-multipart
pydub
ultralytics
playsound==1.2.2
pyserial
scikit-image
py3langid
spacy
pypinyin 
hangul_romanize 
num2words
torchcodec
langchain_chroma
langchain_text_splitters
langchain_community
